body {
    background-color: whitesmoke !important;
    overflow-x: hidden;
}
.cr-1{
    background:rgb(60, 60, 216);
    border: solid rgb(60, 60, 216);
    border-radius: 10px;
    margin: 20px;
    margin-left: 10px;
    height: 93%;
}

.btn-style-2{
background-color: rgb(60, 60, 216) !important;
color: snow !important;
}

.main-div{
    margin-top: 100px;
    /* border:solid 10px snow;
    border-radius: 15px; */
}

.fleeso{
    margin-top: 20px;
    color: snow;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 5px;
}

.txt-style1{
    color: snow;
    font-size: xx-large;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 20px;
}

.txt-style2{
    color: rgb(168, 185, 235);
    padding-left: 25px;
    padding-right: 20px;
}

.cr-2{
margin-left: 50px;
margin-right: 70px;
padding-top: 40px;
padding-bottom: 40px;


}

.main-div2{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

.txt-st1{
    font-weight: 700;
    font-size: larger;
    
}

.txt-st2{
    color: rgb(59, 59, 59);
    font-weight: 400;
    font-size: small;
}

.txt-st3{
    color: rgba(100, 98, 98, 0.562);
    font-weight: 600;
}

.btn-st-1{
    border: solid rgb(241, 239, 239);
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 40px !important;
    border-width: 2px;

}

.type-st1{
   
    width: 80% !important;
}

.card-c-st{
background-color: rgb(51, 51, 221);
color: snow;
margin-top: 100px;
width: 90%;
font-size: small;
border: solid rgb(51, 51, 221);
border-radius: 5px;

}